<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/studentList.css">
    <title>Document</title>
</head>
<body>
    <div class="form form-input">
        <h2>Sign Up</h2>
        <form action="/create" method="POST">
            <input type="text" name="name" placeholder="Enter Name" required>
            <input type="email" name="email" placeholder="Enter Email" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <input id="submitbutton" type="submit" value="Submit">
        </form>
        <h2>Already have an account? SignIn:</h2>
        <a href="/">SignIn</a> 
    </div>
    
</body>
</html>