<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/studentList.css">
    <title>Document</title>
</head>
<body>
  <h2 class="list">Sign In </h2>
  <form action="/create-session" class="form form-input" method="post">
  
    <input type="email" name="email" placeholder="Enter Email" required>
    <input type="password" name="password" placeholder="Enter Password" required>
    
    <input id="submitbutton" type="submit" value="Submit">
</form>
    <div class="list">Don't have an account?</div>
    <div class="list"><a href="signUp">Sign Up</a></div>
  </div>
  
</body>
</html>